*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


.container {
    width: 80%;
    margin: 0 auto;    
}

.header-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    width: 100%;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

.logo img {
    width: 200px; 
}

.ul-nav {
    display: flex;
    align-items:center;
    gap: 20px;
    list-style: none;   
}

.nav-btn { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;  
}

.resume-btn {
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #797979;;
    color: #000; 
}

.profile-btn {
  display:flex;
  align-items:center;
  justify-content:center;
}

.profile-btn img {
    width: 40px;
    height: 40px;
    object-fit: cover;
      
}

.icon {
    font-size: 1.5rem;
    color:#797979;
}

.section-head {
    display: flex;
    width: 95%;
    gap: 10px;
    margin-top: 50px;
    border-bottom: #e4e4e4 solid 1px;   
}

.header-btn {
    text-decoration: none;
    color:#7e7e7e;
}

.section-head .recommended-btn {
    color: #000;
    border-bottom: #000 solid 1px;
    padding-bottom: 10px;
}

.page-layout {
    display: flex;
    align-items: stretch;  
}

.left-column {
    width: 75%;
}

.main-content {
    width: 100%; 
    margin-top: 30px;  
}

.right-column {
    width: 25%;
    display: flex;
}

.aside-wrapper {
    border-left: 1px solid #e4e4e4;
}

.main-aside {
    width: 70%;
    margin: 40px auto;
    padding-left: 50px;
}

.logo-container,
.logo-section,
.connect-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-section img {
  width: 40px;
}

.icon-aside{
    font-size: 1.1rem;
    color:#929292;
}

.main-aside p{
    margin-top: 10px;
    text-align: center;
}

.connect-section {
    flex-direction: column;
    margin-top: 10px;
}

.connect-section img{
    width: 25px;
}

.connect-btn {
    padding: 8px 30px;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid #9d9d9d;
    display:flex;
    justify-content: center;
    white-space: nowrap;
    align-items: baseline;
    gap:10px;
    background-color: #fff;
    font-size: 1rem;
    margin-top: 10px;
}

.connect-link{
    width: 425px;
    text-align: center;
    font-size: 1.1rem;
    color:#929292;
    margin-top: 25px;
    padding-bottom: 30px;
    border-bottom: #e4e4e4 solid 1px;
}