* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  width: 100%;
  margin: auto;
  padding: 15px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

.logo img {
  width: 200px;
}

.ul-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.resume-btn {
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid #797979;
  color: #000;
}

.profile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-btn img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.icon {
  font-size: 1.5rem;
  color: #797979;
}

.section-head {
  display: flex;
  width: 95%;
  gap: 10px;
  margin-top: 50px;
  border-bottom: #e4e4e4 solid 1px;
}

.header-btn {
  text-decoration: none;
  color: #7e7e7e;
}

.section-head .recommended-btn {
  color: #000;
  border-bottom: #000 solid 1px;
  padding-bottom: 10px;
}

.recommended-btn h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.header-btn h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.page-layout {
  display: flex;
  align-items: stretch;
}

.left-column {
  width: 75%;
}

.main-content {
  width: 100%;
  margin-top: 30px;
}

.right-column {
  width: 25%;
}

.aside-wrapper {
  border-left: 1px solid #e4e4e4;
  height: 100%;
}

.header-aside {
  width: 75%;
  margin: 40px auto;
  padding-left: 50px;
}

.logo-container,
.logo-section,
.connect-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-section img {
  width: 40px;
}

.icon-aside {
  font-size: 1.1rem;
  color: #929292;
}

.header-aside p {
  margin-top: 10px;
  text-align: center;
}

.connect-section {
  flex-direction: column;
  margin-top: 10px;
}

.connect-section img {
  width: 25px;
}

.connect-btn {
  padding: 8px 30px;
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid #9d9d9d;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  align-items: baseline;
  gap: 10px;
  background-color: #fff;
  font-size: 1rem;
  margin-top: 10px;
}

.connect-link {
  width: 425px;
  text-align: center;
  color: #929292;
  margin-top: 25px;
  padding-bottom: 30px;
  border-bottom: #e4e4e4 solid 1px;
}

.main-aside {
  margin-left: 70px;
}

.topics-row {
  display: grid;
  gap: 10px;
  margin-top: 10px;
}

.topics-row.three {
  grid-template-columns: repeat(3, max-content);
}

.topics-row.two {
  grid-template-columns: repeat(2, max-content);
}

.tag {
  padding: 8px 15px;
  border-radius: 20px;
  background-color: #f2f2f2;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.aside-section h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  color: #262626;
  font-size: 1.2rem;
  font-weight: 500;
}

.follow-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.user-box {
  display: flex;
  align-items: initial;
  gap: 12px;
}

.user-box img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5px;
}

.profile-info h2 {
  font-weight: 600;
  margin: 0;
}

.profile-info p {
  width: 240px;
  font-size: 0.9rem;
  margin: 4px 0 0;
  color: #7e7e7e;
}

.follow-btn {
  padding: 8px 10px;
  text-decoration: none;
  border-radius: 30px;
  border: 1px solid #525252;
  display: flex;
  justify-content: center;
  background-color: #fff;
  font-size: 1rem;
  cursor: pointer;
}
